
.container{
  padding-top: 30px;
}

.card-img-top{
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.wallpaper{
  background-size: cover;
}

.card-container{
  padding-top: 30px;
}

.feature-start{
  padding-top: 20px;
}

.col{
  padding-bottom: 20px;
}

