<nav class="navbar bg-dark">
  <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
          <a [routerLink]="['/home/product']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
          <a [routerLink]="['/home/pricing']" routerLinkActive="active" class="nav-link">PRICING</a>
      </li>
  </ul>
  <div class="float-right">
    <button type="button" class="btn btn-outline-primary" (click)="showLoginPage(content)">Log-In</button>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- ng templates-->

<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-5 text-center">
          <div class="logoWrapper"></div>
          <img src="../../assets/loginLogo.png" alt="loginLogo" style="width: 100%">
        </div>
        <div class="col-7">
          form
        </div>
      </div>
    </div>
  </div>
</ng-template>
