  <!-- <div class="text-center">
    <img src="../../assets/045231e6-aa73-4076-982a-1ba809152c11_200x200.png" alt="logo">
  </div>
<div class='container'>
  <div class='col-12'>
      <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../assets/4445.jpg" alt="Jaipur Metro">
              <div class="carousel-caption">
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/6308.jpg" alt="Mumbai Metro">
              <div class="carousel-caption">
              </div>
          </ng-template>
      </ngb-carousel>
  </div>
</div> -->


<div class="row">
  <div class="col-12">
    <div class="text-center">
      <img src="../../assets//045231e6-aa73-4076-982a-1ba809152c11_200x200.png" style="height:15%" alt="logo">
    </div>
  </div>
</div>


<div class="container">
  <div clas="row">
    <div class="col-8">
      <div id="f1_container">
        <div id="f1_card" class="shadow">
          <div class="front face">
            <img src="../../assets/4445.jpg" style="height: 70vh;width: 100%;"/>
          </div>
          <div class="back face center">
            <p>This is nice for exposing more information about an image.</p>
            <p>Any content can go here.</p>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>








