  <!-- <div class="text-center">
    <img src="../../assets/045231e6-aa73-4076-982a-1ba809152c11_200x200.png" alt="logo">
  </div>
<div class='container'>
  <div class='col-12'>
      <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../assets/4445.jpg" alt="Jaipur Metro">
              <div class="carousel-caption">
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/6308.jpg" alt="Mumbai Metro">
              <div class="carousel-caption">
              </div>
          </ng-template>
      </ngb-carousel>
  </div>
</div> -->


<div class="row">
  <div class="col-12">
    <p class="text-center">LOGO</p>
  </div>
</div>



<div class="row">
  <div class="col-8">
    <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front">
            <img src="../../assets/6308.jpg" class="img-fluid">
        </div>
        <div class="card__face card__face--back">
            <img src="../../assets/4445.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <p class="text-center">Card details</p>
  </div>
</div>




