  <!-- <div class="text-center">
    <img src="../../assets/045231e6-aa73-4076-982a-1ba809152c11_200x200.png" alt="logo">
  </div>
<div class='container'>
  <div class='col-12'>
      <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../assets/4445.jpg" alt="Jaipur Metro">
              <div class="carousel-caption">
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/6308.jpg" alt="Mumbai Metro">
              <div class="carousel-caption">
              </div>
          </ng-template>
      </ngb-carousel>
  </div>
</div> -->





<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front">
      <div class="container">
        <img src="../../assets/6308.jpg" style="width: 100%;height: 70%;">
      </div>
    </div>
    <div class="card__face card__face--back">back</div>
  </div>
</div>



